.root{
    -fx-background-image: url("BookBackground.jpeg");
    -fx-background-size: cover;
}

.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #503599;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

#submitbutton {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#EF59F4, #3515D5);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#welcome-text {
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#actionTarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#addBookMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#editBookMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#addMusicMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#editMusicMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#addFilmMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#editFilmMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#addTableMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#editTableMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#addBoardgamesMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}

#editBoardgamesMessage{
    -fx-font-size: 24px;
    -fx-font-family: "Tahoma";
    -fx-fill: #818181;
}